body {
    margin: 0;
    background: #2F2E41;
    
    color: #ffff;
    font-family: 'JetBrains Mono', monospace;    
}

header {
    width: 1083px;
    height: 30px;
    margin: 71px auto 101px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 64px;
    list-style: none;
    align-items: center;
    padding: 0;
}



nav ul li {
    font-size: 14px;
    line-height: 28px;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto 59px;
}

main {
    width: 1092px;
    padding: 0px;
    margin: 0 auto 157px;
    display: flex;
    justify-content: space-between;
}

section p {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
    font-family: 'Open Sans', sans-serif;
}

span {
    color: #00BFA6;
}

footer {
    width: 568px;
    margin: 0 auto 23px;
}

footer p {
    font-size: 14px;
    text-align: center;
    line-height: 28px;
}

footer p a {
    text-decoration: none;
    line-height: 28px;
}

.line {
    border: 1px solid #00BFA6;
    margin: 0 auto 27px;
}

#padlock {
    position: fixed;
    bottom: 0;
    left: 0;
} 
